.index-page > .-header{
   width: 100%;
}

.-title-container{
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 2em 3em;

}
.-title-container > .-title{
   font-size: 4em;
   font-weight: bold;
   left: 6.5rem;

   background-size: auto 250%;
  background-position: 0 100%;
  transition: background-position 0.5s;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   background-image: linear-gradient(to bottom, #26BDA6, #FF9F65, #DED37E, #26BDA6);
}



.-title-container > .-thumb-container{
   position: absolute;
   width: 7em;
   height: 7em;
}
.-title-container > .-thumb-container > *{
   position: absolute;
   top: 0;
   left: 0;

   border-radius: 50%;
}
.-title-container > .-thumb-container > .-thumb{
   width: 7em;
   height: 7em;
   background-color: #f0f;
   z-index: 2;
}

/* .-title-container > .-thumb-container > .-thumb-echo::before{
   display: inline-block;
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   background-color: #d23;
   opacity: 0.1;
} */

.-title-container > .-thumb-container > .-thumb-echo:nth-child(2){
   --x: 1.8;
}
.-title-container > .-thumb-container > .-thumb-echo:nth-child(3){
   --x: 2.6;
}
.-title-container > .-thumb-container > .-thumb-echo:nth-child(4){
   --x: 3.4;
}
.-title-container > .-thumb-container > .-thumb-echo:nth-child(5){
   --x: 4.2;
}
.-title-container > .-thumb-container > .-thumb-echo{
   width: calc(100% * var(--x));
   height: calc(100% * var(--x));
   transform: translate(
      calc(calc(calc(100% * var(--x)) - 100%) / calc(-2 * var(--x))),
      calc(calc(calc(100% * var(--x)) - 100%) / calc(-2 * var(--x)))
   );
   background-color: rgba(0,0,0,0.2);
}
